.env
**/.env
node_modules/
**/node_modules/
dist/
**/dist/
venv/
**/venv/
firebase-key.json
**/firebase-key.json
.firebase/
.angular/
**/.angular/
*.log
firebase-debug.log
firebase-debug.*.log
Backend/.backend-*.log
CruChef/.ng-serve-*.log
